*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body
{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100hv;
    align-items: center;
    background-color: #ccc;
}

.container
{
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 980px;
}

button
{
    background: grey;
    color: black;
}

button:hover
{
    background: rgb(112, 155, 184);
    color: black;
}